<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tweets</a>

    </div>
    <div class='pull-right count-box'>
      No of tweets to load: <input type='text' id='no-of-tweets' size='3'></input>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h3 class='panel-title'>The most recent tweets from @AppDirect</h3>
            </div>
            <div class='panel-body'>
                <div id='appdirect-tweets'></div>
            </div>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h3 class='panel-title'>The most recent tweets from @laughingsquid</h3>
            </div>
            <div class='panel-body'>
                <div id='laughingsquid-tweets'></div>
            </div>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h3 class='panel-title'>The most recent tweets from @techcrunch</h3>
            </div>
            <div class='panel-body'>
                <div id='techcrunch-tweets'></div>
            </div>
        </div>
      </div>
    </div>
</div>
