@import "../../node_modules/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/";


.count-box {
	margin: 10px;
}

ul.tweet-list {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
    max-height: 700px;
    overflow: hidden;
	li {
		span {
			display: table-row;
		}
	}
}

ul.tweet-list:hover {
    overflow: auto;
    padding-right: 1px;
}